// basic
$mainColor: #ffcb30;
$subColor: #ffebb0;
$bgColor: #fffde6;

// font
$fontColor: #6c6c6c;
$fontColor-sub: #a7a7a7;

// border
$borderColor-default: #ccc;
$borderColor-todoList: $subColor;

// error
$errorColor: #f88b9b;